<div class="uk-child-width-1-2@m" uk-grid>
    <div>
        <div class="uk-child-width-1-1 uk-grid-small" uk-grid>
            <div>
                <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
                    <div>
                        <div class="uk-card secondary-bg white-text uk-card-body border-rounded uk-flex uk-flex-middle">
                            <img class="uk-margin-small-right" height="56"
                                 src="{{ url_for('static', path='/whatsapp-brands-solid.svg') }}" uk-svg width="56">
                            <div>
                                <div class="uk-text-large uk-text-bold">WhatsApp</div>
                                <div>071 000 0000</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card tertiary-bg white-text uk-card-body border-rounded uk-flex uk-flex-middle">
                            <div>
                                <div class="uk-text-large uk-text-bold">
                                    <img class="uk-margin-small-right" height="18"
                                         src="{{ url_for('static', path='/circle-info-solid.svg') }}" uk-svg
                                         width="18">Need help
                                </div>
                                <div>info@digitalpathfindr.com</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card tertiary-bg white-text uk-card-body border-rounded uk-flex uk-flex-middle">
                    <img class="uk-margin-right" height="48"
                         src="{{ url_for('static', path='/phone-solid.svg') }}" uk-svg width="48">
                    <div>
                        <div class="uk-text-large uk-text-bold">Call me back</div>
                        <div>Get a support agent to call you</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card tertiary-bg white-text uk-card-body border-rounded uk-flex uk-flex-middle">
                    <img class="uk-margin-right" height="48"
                         src="{{ url_for('static', path='/headset-solid.svg') }}" uk-svg width="48">
                    <div>
                        <div class="uk-text-large uk-text-bold">Call us • 0860 000 000</div>
                        <div>Monday ⏤ Friday • 08:00 ⏤ 17:00</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card tertiary-bg white-text uk-card-body border-rounded uk-flex uk-flex-middle">
                    <img class="uk-margin-right" height="48"
                         src="{{ url_for('static', path='/ticket-solid.svg') }}" uk-svg width="48">
                    <div>
                        <div class="uk-text-large uk-text-bold">Submit a support ticket</div>
                        <div>Log a support request</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-overflow-hidden uk-height-large uk-width-1-1 uk-text-decoration-none border-rounded">
            <div class="uk-height-1-1 uk-width-1-1" id="embed-map-display">
                <iframe class="uk-height-1-1 uk-width-1-1 uk-border-rounded"
                        frameborder="0"
                        src="https://www.google.com/maps/embed/v1/place?q=22+Magwa+Crescent,+Waterfall&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8">
                </iframe>
            </div>
        </div>
        <div class="uk-card uk-card-body uk-flex uk-flex-middle">
            <img class="uk-margin-right" height="48"
                 src="{{ url_for('static', path='/location-dot-solid.svg') }}" uk-svg width="48">
            <div>
                <div class="uk-text-large uk-text-bold">Digital Pathfindr</div>
                <div>22 Magwa Crescent, Waterfall, Midrand 2066</div>
            </div>
        </div>
    </div>
</div>