<div class="uk-section uk-margin-xlarge-top">
    <div class="uk-container">
        <h1 class="uk-heading-small uk-width-large">Don’t just follow trends — carve new paths</h1>
        <div class="uk-child-width-expand@s uk-margin-large-top uk-flex-bottom" uk-grid>
            <div class="uk-width-large">
                <div class="uk-flex uk-flex-middle">
                    <img alt="Digital Pathfindr logo" height="66"
                         src="{{ url_for('static', path='/the_d.png') }}"
                         width="66"/>
                    <div class="uk-text-bolder"
                         style="font-size: 30px; line-height: 28px; font-family: Telegraf; font-weight: 800; color: #74648E; height: 50px; margin-left: 6px">
                        Digital<br/>Pathfin<span style="color: #5EC6AE">dr</span>
                    </div>
                </div>
                <div class="uk-text-small uk-text-meta" style="margin-left: 8px">Creating Your Road to Success</div>
            </div>
            <div>
                <div class="uk-child-width-expand@s uk-flex-bottom" uk-grid>
                    <div>
                        <div class="uk-child-width-expand@m uk-flex-bottom" uk-grid>
                            <div>
                                <ul class="uk-list">
                                    <li><a class="uk-text-small uk-link-muted" href="#">About us</a></li>
                                    <li><a class="uk-text-small uk-link-muted" href="#">Contact Us</a></li>
                                    <li><a class="uk-text-small uk-link-muted" href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                            <div>
                                <ul class="uk-list">
                                    <li><a class="uk-text-small uk-link-muted" href="#">Branding</a></li>
                                    <li><a class="uk-text-small uk-link-muted" href="#">Marketing</a></li>
                                    <li><a class="uk-text-small uk-link-muted" href="#">Strategy</a></li>
                                    <li><a class="uk-text-small uk-link-muted" href="#">Content Creation</a></li>
                                    <li><a class="uk-text-small uk-link-muted" href="#">Web & App Development</a></li>
                                </ul>
                            </div>
                            <div>
                                <ul class="uk-list">
                                    <li><a class="uk-text-small uk-link-muted" href="#">Free Consultation</a></li>
                                    <li><a class="uk-text-small uk-link-muted" href="#">Workshops & Training</a></li>
                                    <li><a class="uk-text-small uk-link-muted" href="#">Resources</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium">
                        <form>
                            <div class="uk-text-lead">Get the Latest News Delivered to Your Inbox</div>
                            <div class="uk-inline uk-margin-top">
                                <a class="uk-form-icon uk-form-icon-flip" href="#"
                                   uk-icon="icon: arrow-right"></a>
                                <input class="uk-input" placeholder="Register for Newsletter" type="email">
                            </div>
                        </form>
                    </div>
                </div>
                <hr/>
                <div class="uk-align-right" uk-margin>
                    <a class="uk-icon-button uk-margin-small-right" href="" uk-icon="x"></a>
                    <a class="uk-icon-button  uk-margin-small-right" href="" uk-icon="instagram"></a>
                    <a class="uk-icon-button  uk-margin-small-right" href="" uk-icon="facebook"></a>
                    <a class="uk-icon-button" href="" uk-icon="youtube"></a>
                </div>
            </div>
        </div>
    </div>
</div>