<div class="uk-card uk-card-default uk-card-body border-rounded white-text"
     style="background-color: {{ colours[loop.index0 % colours | length] }}">
    <div class="uk-text-large uk-text-bold">{{ item.fieldData.name }}</div>
    <p>{{ item.fieldData.tagline }}</p>
    <button class="uk-button uk-button-small uk-border-pill primary-bg uk-align-right"
            uk-sticky="position: bottom; end: !.uk-card">More
    </button>
</div>
<div class="uk-card uk-card-body uk-card-default uk-width-large border-rounded quinary-bg"
     uk-drop="mode: click">
    {{ item.fieldData["description-2"] | safe }}
    <button
            class="uk-button uk-button-secondary uk-width-auto uk-border-pill uk-text-bold uk-margin-top secondary-bg">
        Notify Me About The Next Workshop
    </button>
    <div class="uk-card uk-card-body uk-card-default uk-width-large border-rounded quinary-bg"
         uk-drop="mode: click">
        {% include "forms/free_consultation_form.html" %}
    </div>
</div>